/* Body Style */
.login-body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
    width: 97vw;
}

/* Form Header */
.form-header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #4CAF50;
}

.form-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px;
}

.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin: 0;
    padding-bottom: 10px;
}


/* Form Container */
.form-container {
    width: 90%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

/* Form Group */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
}

.form-group input {
    width: 94.5%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Submit Button */
.form-submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-submit:hover {
    background-color: #357a38;
}

/* Responsive Design */
@media (max-width: 768px) {
    .form-container {
        padding: 15px;
    }

    .form-group label {
        font-size: 0.9rem;
    }

    .form-group input {
        font-size: 0.95rem;
    }

    .form-submit {
        font-size: 0.95rem;
    }
}

@media (max-width: 480px) {
    .form-container {
        margin: 20px auto;
    }

    .form-group label {
        font-size: 0.85rem;
    }

    .form-group input {
        font-size: 0.9rem;
    }

    .form-submit {
        font-size: 0.9rem;
    }
}